

.coin {
  justify-content: center;
  display: flex;
  /* margin-top: 97.91px; */
  height: 467px;
}
.coin img {
  width: 234.63px;
  height: 212.33px;
  margin-top: 80.91px;
  pointer-events: none;
}

.recard {
  margin-top: 55px;
  width: 419.39px;
  margin-left: 12px;
  align-items: center;
}

.recard p {
  font-weight: bold;
  text-align: center;
  font-family: Nunito Sans;
}

.recover a {
  color: #82c700;
  font-weight: bold;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 24px;
  margin-left: 48px;
}
